@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
/* header-style */
.header {
    background-color: rgba(255, 144, 14, 0.1);
    margin-bottom: 50px;
}

.navbar {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.nav-links {
    display: flex;
}

.nav-item {
    list-style: none;
    margin-right: 30px;
}

ul > li > a {
    text-decoration: none;
    font-family: "work-sans", sans-serif;
    font-weight: 500;
    color: #424242;
}

.brand {
    font-family: "work-sans", sans-serif;
    font-weight: bold;
    font-size: 2rem;
}

/* banner-style */
.banner {
    max-width: 1200px;
    margin: 0 auto;
}

.banner img {
    width: 100%;
}

.banner-content {
    font-family: "work-sans", sans-serif;
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 40px;
}

.banner-title {
    font-weight: bold;
    font-size: 3.6rem;
}

.banner-description {
    color: rgba(114, 114, 114, 1);
    font-size: 1rem;
    margin-bottom: 30px;
}

.banner-btn,
.features-btn {
    color: #ffffff;
    background-color: #ff900e;
    border: none;
    padding: 15px 19px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 1rem;
    /* margin-bottom: 30px; */
}

.banner-image {
    padding-bottom: 20px;
}

/* team and features style */
main {
    max-width: 1200px;
    margin: 0 auto;
}

.team-image {
    width: 250px;
    height: 250px;
}

.team {
    display: flex;
    align-items: center;
    margin-bottom: 80px;
}

.team-image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 14px;
}

.our-features {
    font-family: "work-sans", sans-serif;
    margin-left: 50px;
    max-width: 510px;
}

.quick-list {
    color: #727272;
    font-weight: 500;
}

.features-title {
    max-width: 420px;
    font-size: 2.3rem;
    margin-bottom: 25px;
}

.of-our {
    font-weight: bold;
}

.features {
    color: #ff900e;
    font-weight: bold;
}

.features-description {
    color: #727272;
    max-width: 470px;
    font-size: 0.9rem;
    margin-bottom: 25px;
}

/* my-features-related-style */
.my-features {
    margin-bottom: 100px;
}

.my-features-container {
    font-family: "work-sans", sans-serif;
    display: flex;
    justify-content: space-between;
    gap: 125px;
}

.my-features-title {
    border-left: 5px solid #ff900e;
    padding-left: 15px;
    font-size: 2rem;
    font-weight: bold;
}

.my-features-description {
    font-size: 0.8rem;
    color: #727272;
    font-weight: 400;
    max-width: 500px;
    margin-bottom: 22px;
}

.my-features-card {
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    max-width: 580px;
}

.my-features-card-title {
    font-size: 0.9rem;
    font-weight: 600;
    color: #131313;
    margin-bottom: 10px;
}

.my-features-card-description {
    color: #727272;
    font-size: 0.8rem;
}

.my-features-image {
    max-width: 580px;
}

.my-features-btn {
    color: #ffffff;
    background-color: #ff900e;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    padding: 25px 20px;
    margin-left: -80px;
    margin-top: -50px;
}

.btn-year {
    font-size: 2.7rem;
}

.btn-experience {
    font-weight: 500;
}

.my-features-architects img {
    width: 100%;
}

/* some-facts-style */
.some-facts {
    font-family: "work-sans", sans-serif;
    margin-bottom: 70px;
}

.facts-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 60px;
    /* display: flex; */
    /* justify-content: space-between; */
}

.facts-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 18px;
}

.facts-description {
    color: #727272;
    max-width: 400px;
    font-size: 0.8rem;
    margin-bottom: 50px;
}

.fact-card {
    border: 1px solid #ff900e;
    width: 180px;
    height: 180px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.fact-number {
    color: #424242;
    font-size: 1.5rem;
    margin-top: 8px;
    margin-bottom: 10px;
    font-weight: 600;
}

.fact-name {
    color: #727272;
    margin-top: 0px;
}

/* our-sponsors-relative-style */
.our-sponsor {
    margin-bottom: 70px;
}

.sponsor-container {
    font-family: "work-sans", sans-serif;
    max-width: 410px;
    margin: 20px auto;
    text-align: center;
}

.sponsor-title {
    color: #131313;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 15px;
}

.sponsor-description {
    color: #727272;
    font-size: 0.8rem;
    margin-bottom: 0px;
}

.sponsor-company {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 40px;
}

.sponsor-company img {
    filter: grayscale(100%);
}

/* footer-style */
footer {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff4e7;
    border-radius: 5px;
    margin-bottom: 100px;
}

.footer-title {
    font-family: "work-sans", sans-serif;
    text-align: center;
    color: #424242;
    font-size: 0.9rem;
    padding: 20px;
}

/* responsive-design-for-small-device */
@media screen and (max-width: 576px) {
    .navbar,
    .nav-links,
    .team,
    .my-features-container {
        flex-direction: column;
        margin: 0 auto;
    }

    .brand {
        margin: auto;
        margin-bottom: 30px;
        margin-top: 10px;
    }

    .team-image-container,
    .facts-container,
    .sponsor-company {
        grid-template-columns: repeat(1, 1fr);
    }

    .facts-container {
        justify-items: center;
        margin: 0 auto;
        gap: 15px;
    }

    .sponsor-company {
        justify-items: center;
        gap: 35px;
    }
    .my-features-btn {
        margin-top: 20px;
        margin-left: 20px;
    }
}

/* responsive-design-for-medium-device */
@media screen and (min-width: 577px) and (max-width: 992px) {
    .team,
    .my-features-container {
        flex-direction: column;
    }
    .facts-container,
    .sponsor-company {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        gap: 35px;
    }
    .facts-container {
        margin: 0px auto;
    }

    .my-features-btn {
        margin-top: 20px;
        margin-left: 20px;
    }
}
